{% extends "Proyectowebapp/base.html" %}

{% load static %}

{% block content %}

<!-- Voy a mostrar el contenido de la tabla servicios-->
    {% for servicio in servicios %}

          <section class="page-section clearfix">
            <div class="container">
            <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 70%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{servicio.titulo}}</span>
            <span class="section-heading-upper">{{servicio.contenido}}</span>
            </h2>
           <!--  <p class="mb-3">Estamos desarrollando nuestros sistemas para ubicarlos en la nube -->
            </p>
         
           </div>
           </div>
           </div>
          </section>





<!--<div>
    <p> 
    <h2 style="color:white;">{{servicio.titulo}}</h2>    
    </p>
    <p style="color:white;">
        {{servicio.contenido}}
    </p>
    <p>
        <img src="{{servicio.imagen.url}}">
    </p>
</div>  -->
    {% endfor %}
{% endblock %}